<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    自定义css-->
    <link rel="stylesheet" href="/css/MyStyle.css" />
    <!--    自定义js-->
    <script src="/js/myClickTool.js"></script>
    <!--    JQ-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <!--    bootstrap套件-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://libs.cdnjs.net/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/img/icon/favicon.svg" />
    <!--    上传控件-->
    <link rel="stylesheet" href="/fileinput/css/fileinput.min.css" />
    <script type="text/javascript" src="/fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/fileinput/js/zh.js"></script>
    <title>Designed By Mintimate</title>
    crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>图床页面</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top text-center">
    <a class="navbar-brand" href="/">
				<span style="font-family: 'Handwriting'; background: linear-gradient(to right, #E0E0E0, #FFFFFF);-webkit-background-clip: text;color: transparent; ">
					<img src="/img/icon/web.svg"/>
					<span class="align-self-center">文件管理</span>
				</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-lg-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-lg-3">
                <a class="nav-link" href="/imageType">
                    图床
                </a>
            </li>
            <!--Homebrew-->
            <li class="nav-item dropdown ml-lg-3">
                <a class="nav-link dropdown-toggle" href="#" id="fileHost" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    文件中转站
                </a>
                <div class="dropdown-menu bg-dark text-center" aria-labelledby="fileHost">
                    <a class="dropdown-item text-light " href="/fileType?type=Magisk">Magisk</a>
                    <a class="dropdown-item text-light " href="/fileType?type=Minecraft">Minecraft</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light" href="/fileType">中转站</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-lg-3">
                <a class="nav-link dropdown-toggle" href="#" id="infoDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    数据中心
                </a>
                <div class="dropdown-menu bg-dark text-center" aria-labelledby="infoDropdown">
                    <a class="dropdown-item text-light " href="/fileType/dataInfo?type=Magisk">Magisk</a>
                    <a class="dropdown-item text-light" href="/fileType/dataInfo?type=Minecraft">Minecraft</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light " href="/fileType/homebrew">Homebrew</a>
                </div>
            </li>
        </ul>
        <!-- 导航栏右侧 -->
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item ml-lg-3 align-content-center">
                <a href="/support" class="nav-link">创作支持</a>
            </li>
            <li class="nav-item ml-lg-3 active">
                <a th:if="${#httpServletRequest.getSession().getAttribute('sessionUser')==null}" href="/userAdmin/login"
                   class="nav-link ">登录</a>
                <div th:unless="${#httpServletRequest.getSession().getAttribute('sessionUser')==null}"
                     href="/userAdmin/admin" onclick="goToAdmin()" class="border bg-light text-dark btn">
                    <img class="rounded-circle" style=" height:1.9rem;" th:src="@{'/userAdmin/getAvatar/'+${#httpServletRequest.getSession().getAttribute('sessionEmail')}}">
                    <span th:text="${#httpServletRequest.getSession().getAttribute('sessionUser')}"
                          class="align-text-top" style="padding-left: 0.625rem;">Mintimate</span>
                </div>
            </li>
        </ul><!-- 导航栏右侧end -->
    </div>
</nav>
<!--content-->
<div class="container pt-5 pb-5">
    <div class="row thumbnail center">
        <div class="row pb-3">
            <div class="text-left text-dark btn btn-lg col-lg-6 pl-lg-5">
                <img class="rounded-circle"
                     th:src="@{'/userAdmin/getAvatar/'+${#httpServletRequest.getSession().getAttribute('sessionEmail')}}">
                <span id="theUserName" th:text="${#httpServletRequest.getSession().getAttribute('sessionUser')}"
                      class="align-text-top" style="padding-left: 0.625rem;">Mintimate</span>
                <span class="btn btn-xs bg-dark" style="color: floralwhite;">普通用户</span>
            </div>
            <div class="col-lg-6  text-center align-self-center pt-1">
                <p class=" alert alert-danger" style="font-size: small;">
                    <strong>Tips：</strong> 想更换账号？
                </p>
                <a class="btn btn btn-embossed quit" href="/userAdmin/logout">
                    点此退出账号
                </a>
            </div>
        </div>
        <!--选项卡-->
        <ul class="nav nav-tabs " id="myTabs">
            <li><a class="nav-link nav-item active" href="#userHome" data-toggle="tab">图片上传</a></li>
        </ul>
        <!--选项卡内容-->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="userHome">
                <div class="text-center row">
                    <div class="col-12 text-center">
                        <h5>上传到图床</h5>
                    </div>
                    <div class="col-12 mb-2">
                        <span class="col-6">图片分类：</span>
                        <select id="imageSelect" name="imageType" class="imageSelect col-6 custom-select">
                        </select>
                    </div>
                    <div class="col-12">
                        <div class="col-sm-12">
                            <input id="input-image" name="file" multiple type="file" data-show-caption="true">
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <span id="download"></span>
                    </div>
                </div>
            </div>
            <script src="/fileinput/myUploadFile.js"></script>
            <script src="/js/fileImageType.js"></script>
        </div>
    </div>
</div>
</body>
</html>
