<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    自定义css-->
    <link rel="stylesheet" href="/css/MyStyle.css" />
    <!--    自定义js-->
    <script src="/js/myClickTool.js"></script>
    <!--    JQ-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.5.1.min.js"></script>
    <!--    bootstrap套件-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link href="https://libs.cdnjs.net/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/img/icon/favicon.svg" />
    <title>Designed By Mintimate</title>
    crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top text-center">
    <a class="navbar-brand" href="/">
				<span style="font-family: 'Handwriting'; background: linear-gradient(to right, #E0E0E0, #FFFFFF);-webkit-background-clip: text;color: transparent; ">
					<img src="/img/icon/web.svg"/>
					<span class="align-self-center">文件管理</span>
				</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-lg-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-lg-3 active">
                <a class="nav-link" href="/imageType" >
                    图床
                </a>
            </li>
            <!--Homebrew-->
            <li class="nav-item dropdown ml-lg-3">
                <a class="nav-link dropdown-toggle" href="#" id="fileHost" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    文件中转站
                </a>
                <div class="dropdown-menu bg-dark text-center" aria-labelledby="fileHost">
                    <a class="dropdown-item text-light " href="/fileType?type=Magisk">Magisk</a>
                    <a class="dropdown-item text-light " href="/fileType?type=Minecraft">Minecraft</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light" href="/fileType">中转站</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-lg-3">
                <a class="nav-link dropdown-toggle" href="#" id="infoDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    数据中心
                </a>
                <div class="dropdown-menu bg-dark text-center" aria-labelledby="infoDropdown">
                    <a class="dropdown-item text-light " href="/fileType/dataInfo?type=Magisk">Magisk</a>
                    <a class="dropdown-item text-light" href="/fileType/dataInfo?type=Minecraft">Minecraft</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light " href="/fileType/homebrew">Homebrew</a>
                </div>
            </li>
        </ul>
        <!-- 导航栏右侧 -->
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item ml-lg-3 align-content-center">
                <a href="/support" class="nav-link">创作支持</a>
            </li>
            <li class="nav-item ml-lg-3">
                <a th:if="${#httpServletRequest.getSession().getAttribute('sessionUser')==null}" href="/userAdmin/login" class="nav-link ">登录</a>
                <div th:unless="${#httpServletRequest.getSession().getAttribute('sessionUser')==null}" href="/userAdmin/admin" onclick="goToAdmin()" class="border bg-light text-dark btn">
                    <img class="rounded-circle" style=" height:1.9rem;" th:src="@{'/userAdmin/getAvatar/'+${#httpServletRequest.getSession().getAttribute('sessionEmail')}}"> <span th:text="${#httpServletRequest.getSession().getAttribute('sessionUser')}" class="align-text-top" style="padding-left: 0.625rem;">Mintimate</span>
                </div>
            </li>
        </ul><!-- 导航栏右侧end -->
    </div>
</nav>
<!--content-->
<!--内容部分-->
<div class="container-lg pt-5 pb-5">
    <div class="row bg-light">
        <div class="col-sm-12 text-center">
            <h3 style="font-family: Handwriting"><span class="align-bottom">图片控制台:</span><span class="align-bottom"
                                                                                               style="font-size: large;">图片详情 </span></h3>
        </div>
        <div class="col-12 p-2 text-center">
            <img th:src="${imgDetail.getPath()}" class="img-fluid">
        </div>
        <div class="col-sm-4 col-12 p-2">
            图片名称：<span th:text="${imgDetail.getImageName()}"></span>
        </div>
        <div class="col-sm-4 col-12 p-2">
            创建时间：<span th:text="${#dates.format(imgDetail.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div class="col-sm-4 col-12 p-2">
            最后调取：<span th:text="${#dates.format(imgDetail.getUpdateDate(), 'yyyy-MM-dd HH:mm:ss')}"></span>
        </div>
        <div class="col-sm-4 col-12 p-2">
            下载&浏览次数：<span th:text="${imgDetail.getDownloadCount()}"></span>
        </div>
        <div class="col-sm-4 col-12 p-2">
            直链：<a th:href="@{/imageHost/download/{id}(id=${imgDetail.getId()})}">Here</a>
        </div>
        <div class="col-sm-4 col-12 p-2">
            图床链接：<a th:href="@{/imageHost/getImage/{id}(id=${imgDetail.getId()})}">Here</a>
        </div>
        <div class="col-sm-4 col-12 p-2">
            类型：<span th:text="${imgDetail.getImageType()}"></span>
        </div>
        <div class="col-sm-4 col-12 p-2">
            上传用户：<span th:text="${imgDetail.getUploadUser()}"></span>
        </div>
        <div class="col-12">
            <a class="btn btn-info btn-block" href="javascript:history.go(-1)">返回</a>
        </div>
        <div class="col-12 pt-2">
            <a class="btn btn-primary btn-block" href="javascript:location.reload()">刷新下载&浏览次数</a>
        </div>
        <div class="col-12 pt-2 pb-2">
            <a class="btn btn-danger btn-block" th:href="@{/imageHost/delete/{id}(id=${imgDetail.getId()})}">删除</a>
        </div>
    </div>
</div>
</body>
</html>