<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/MyStyle.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link href="https://libs.cdnjs.net/flat-ui/2.3.0/css/flat-ui.min.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/img/icon/favicon.svg"/>
    <title>Designed By Mintimate</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script src="https://libs.cdnjs.net/flat-ui/2.3.0/js/flat-ui.min.js"></script>
    <script src="/js/myClickTool.js"></script>
    <style>
        .row {
            margin-top: 20px;;
        }

        .center {
            text-align: center;
        }

        .pagination {
            background: #cccccc;
        }
    </style>
    <script type="text/javascript" th:inline="text">
        $(function () {
            $("#next").click(function () {
                var pages = parseInt($("#pages").html());
                var page = parseInt($("#currentPage").html());
                if (page == pages) {
                    return;
                }
                page++;
                location.href = "/fileType?type=[[${type}]]&page=" + page;
            })

            $("#previous").click(function () {
                var page = parseInt($("#currentPage").html());
                if (page == 1) {
                    return;
                }
                page--;
                location.href = "/fileType?type=[[${type}]]&page=" + page;
            })

            $("#first").click(function () {
                location.href = "/fileType?type=[[${type}]]&page=1";
            })

            $("#last").click(function () {
                var pages = parseInt($("#pages").html());
                location.href = "/fileType?type=[[${type}]]&page=" + pages;
            })
        })
        $(function () {
            $('#myTabs a').click(function (e) {
                $(this).tab('show')
            });
        })
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top text-center">
    <a class="navbar-brand" href="/">
				<span style="font-family: 'Handwriting'; background: linear-gradient(to right, #E0E0E0, #FFFFFF);-webkit-background-clip: text;color: transparent; ">
					<img src="/img/icon/web.svg"/>
					<span class="align-self-center">文件管理</span>
				</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item ml-3">
                <a class="nav-link" href="/imageType" >
                    图床
                </a>
            </li>
            <!--Homebrew-->
            <li class="nav-item dropdown ml-3 active">
                <a class="nav-link dropdown-toggle" href="#" id="fileHost" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    文件中转站
                </a>
                <div class="dropdown-menu bg-dark text-center" aria-labelledby="fileHost">
                    <a class="dropdown-item text-light " href="/fileType?type=Magisk">Magisk</a>
                    <a class="dropdown-item text-light " href="/fileType?type=Minecraft">Minecraft</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light" href="/fileType">中转站</a>
                </div>
            </li>
            <li class="nav-item dropdown ml-3">
                <a class="nav-link dropdown-toggle" href="#" id="infoDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    数据中心
                </a>
                <div class="dropdown-menu bg-dark text-center" aria-labelledby="infoDropdown">
                    <a class="dropdown-item text-light " href="/fileType/dataInfo?type=Magisk">Magisk</a>
                    <a class="dropdown-item text-light" href="/fileType/dataInfo?type=Minecraft">Minecraft</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-light " href="/fileType/homebrew">Homebrew</a>
                </div>
            </li>
        </ul>
        <!-- 导航栏右侧 -->
        <ul class="navbar-nav">
            <li class="nav-item ml-xl-3 align-content-center">
                <a href="/support" class="nav-link">创作支持</a>
            </li>
            <li class="nav-item ml-xl-3">
                <a th:if="${#httpServletRequest.getSession().getAttribute('sessionUser')==null}" href="/userAdmin/login" class="nav-link ">登录</a>
                <div th:unless="${#httpServletRequest.getSession().getAttribute('sessionUser')==null}" href="/userAdmin/admin" onclick="goToAdmin()" class="border bg-light text-dark btn">
                    <img class="rounded-circle" style=" height:1.9rem;" th:src="@{'https://v1.alapi.cn/api/avatar?size=100&email='+${#httpServletRequest.getSession().getAttribute('sessionEmail')}}"> <span th:text="${#httpServletRequest.getSession().getAttribute('sessionUser')}" class="align-text-top" style="padding-left: 0.625rem;">Mintimate</span>
                </div>
            </li>
        </ul><!-- 导航栏右侧end -->
    </div>
</nav>
<!--内容部分-->
<div class="container-lg pt-5 mt-5">
    <div class="row bg-light">
        <div class="col-sm-12 text-center">
            <h3 style="font-family: Handwriting"><span class="align-bottom">文件中转站</span>
            </h3>
            <form action="/fileType" method="get">
                <div class="row">
                    <div class="col-sm-6"></div>
                    <div class="col-sm-4 input-group">
                        <input name="fileName" class="form-control">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-info btn-block">搜索</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <table class="table">
                <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">文件名</th>
                    <th scope="col">上传日期</th>
                    <th scope="col">最后下载</th>
                    <th scope="col">占用空间(单位:MB)</th>
                    <th scope="col">下载次数</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody class="text-center">
                <tr th:each="file:${fileList}">
                    <th style="vertical-align: middle" th:text="${file.getFileName()}" scope="row">${document.document_name}</th>
                    <td style="vertical-align: middle" th:text="${#dates.format(file.getCreateDate(),'yyyy-MM-dd HH:mm:ss')}">${document.creation_date}</td>
                    <td style="vertical-align: middle" th:text="${#dates.format(file.getUpdateDate(),'yyyy-MM-dd HH:mm:ss')}">${document.creation_date}</td>
                    <td style="vertical-align: middle" th:text="${#numbers.formatDecimal(file.getFileSize()/(1024*1024),1,2)}">${document.file_size}</td>
                    <td style="vertical-align: middle" th:text="${file.getDownloadCount()}">${document.download_count}</td>
                    <td>
                        <a th:href="@{/fileHost/delete/{id}(id=${file.getId()})}" class="btn btn-primary btn-sm">删除</a>
                        <a th:href="@{/fileHost/download/{id}(id=${file.getId()})}" class="btn btn-secondary btn-sm">下载</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <nav class="col-12 text-center" style="padding-top: 0.9375rem;" aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button class="page-link">
                        总：<span id="currentPage" th:text="${#httpServletRequest.getSession().getAttribute('currentPage')}">${currentPage}</span>/
                        <span th:text="${#httpServletRequest.getSession().getAttribute('pages')}"
                              id="pages">${pages}</span>
                    </button>
                </li>
                <li class="page-item ">
                    <button id="first" class="page-link">首页</button>
                </li>
                <li class="page-item ">
                    <button id="last" class="page-link">尾页</button>
                </li>
                <li id="previous" class="page-item">
                    <button class="page-link">上一页</button>
                </li>
                <li id="next" class="page-item">
                    <button class="page-link">下一页</button>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>

